/* general styles and jquery-ui overrides */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Calibri, helvetica, arial, serif;
	font-size: 10pt;
	margin:0;
}

.container_12 {
	background-color: white;
}

.navbar {
	width: 960px !important;
	margin: 0;
	padding: 0;
	border: 0 !important;
}

.ui-button .ui-button-text {
	font-size: 10pt !important;
	line-height: 1.0 !important;
}

/* margins and other trivial stuff */
.ml5 {margin-left: 5px;}
.mr5 {margin-right: 5px;}
.mt5 {margin-top: 5px;}
.mb5 {margin-bottom: 5px;}
.mt10 {margin-top: 10px;}

.pd2{padding:2px;}
.pd5{padding:5px;}
/* descriptive-name classes */
.hide {display: none;}
.bold {font-weight: bold;}
	/* layout */
.maingrid {min-height: 1400px;}
.relative {position: relative;}
.inline {display: inline;}
.inline-block {display: inline-block;}
.floatleft {float: left;}
.floatright {float: right;}
.centercontent {text-align: center;}
	/* fonts */
.italic {font-style: italic;}
.capitalize {text-transform: capitalize;}
.description {
	font-size: 0.9em;
}
.subtitle {
	font-size: 0.8em;
	color: #202020;
}
.greentext {color: green;}
.redtext {color: red;}
.bluetext {color: blue;}
	/* mouse */
.pointer {cursor: pointer;}
	/* others */
.shadow {
 	box-shadow: -6px 4px 1px grey;
  	-webkit-box-shadow:  -6px 4px 1px grey;
  	-moz-box-shadow:  -6px 4px 1px grey;
}
a.fatlink {
	text-decoration: none;
	font-weight: bold;
}

/* special classes */
.white-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}
.white-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
}

.overlay {
	background-color: white;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	top: 0;
	left: 0;
	background-image: url("../images/spinner.gif");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 4;
	/*center the info text, if any*/
	text-align: center;
	font-size: 14pt !important;
}

.page-header {
	font-size: 2em;
}
.page-header-divider {
	border-top: 1px solid #CCCCCC;
    width: 80%;
    margin: 10px auto;
}

.section-header {
	font-size: 1.4em;
}

.sidebar-section {
	font-size: 0.9em !important;
}
.sidebar-section:not(:first-child) {
	margin-top: 5px;
}

.sidebar-section-header {
	font-weight: bolder;
	margin: 0 0 5px 0;
}
.sidebar-divider {
    border-top: 1px solid #CCCCCC;
    width: 80%;
    margin: 10px auto;
}

.sidebar-container {
	padding: 5px 5px 10px 5px;
	background-color: #F0FFFF;
	border: 1px dashed #B0C4DE;
}

.embedded-images-200 img {
	max-width: 200px;
	max-height: 200px;
}

/*Preview*/
.dgte-previewlink img {
	vertical-align: bottom;
}

.dgte-preview:not(.dgte-preview-visible) {
	display: none;
}

.dgte-preview.dgte-preview-visible {
	position: absolute;
	display: inline-block;
	width: 302px;
	background-color: transparent;
	z-index: 8001;
}

.dgte-preview .arrow {
	z-index: 8003;
	margin-left: 10px;
	position: relative;
	margin-bottom: -1px;
}

.preview-white-container {
	background-color: white;
	box-shadow: 0 0 15px 2px #888888;
	padding: 0 0 10px 0;
	border: 1px solid #e9e9e9;
}

.preview-cover-image-container {
	width: 300px;
	height: 60px;
	overflow: hidden;
	background-color: black;
}
.preview-cover-image {
	width: 300px;
}

.preview-image-container {
	position: absolute;
	background-color: white;
	display: inline-block;
	margin-top: -30px;
	margin-left: 30px;
	width: 54px;
	height: 54px;
	z-index: 8002;
}
.preview-image {
	padding: 2px;
	width: 50px;
	height: 50px;
	z-index: 8002;
}

.preview-info-container {
	display: inline-block;
	margin-left: 85px;
}

.preview-title {
	font-weight: bold;
}

.preview-actions {
	margin: 5px 0 0 30px;
}

.preview-actions button {
	max-width: 45%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}