/* general styles and jquery-ui overrides */
body {
	font-family: helvetica, arial, serif;
	font-size: 11pt;
}

.ui-button .ui-button-text {
	font-size: 10pt !important;
	line-height: 1.0 !important;
}

/* descriptive-name classes */
.hide {display: none;}

	/* layout */
.inline {display: inline;}
.inline-block {display: inline-block;}
.floatright {float: right;}
.centercontent {text-align: center;}
	/* fonts */
.italic {font-style: italic;}

/* special classes */
.overlay {
	background-color: white;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	top: 0;
	left: 0;
	background-image: url("../images/spinner.gif");
	background-repeat: no-repeat;
	background-position: center;
	border: 1px dotted grey;
	z-index: 9001;
	/*center the info text, if any*/
	text-align: center;
	font-size: 14pt !important;
}