.cover {
	height: 200px;
	background-color: black;
	cursor: pointer;
	overflow: hidden;
}
.coverpic {
	width: 100%;
	border: 1px solid grey;
}

.rightbar {
	height: 1000px;
	background-color: red;
}

.content {
	margin-top: -830px;
}

.profilepic-container {
	height: 140px;
	top: 0;
	text-align: center;
}

.profilepic-inner-container {
	height: 100px;
	width: 100px;
	border: 1px dotted grey;
	background-color: white;
	margin: auto;
}

.profilepic {
	max-width: 90px;
	max-height: 90px;
	margin: 5px 5px;
	cursor: pointer;
}

.btn-subscribe-toggle {
	padding: 5px;
	margin: 5px 0 0 0;
	white-space: nowrap;
	width: 90%;
}

.fullname {
	margin-bottom: 5px;
}
.description {
	font-style: italic;
}
.content-info {
	margin-top: 40px;
	height: 130px;
}

.tabs {
	
}

.feed-owner-container {
	min-height: 150px;
}

.feed-posts {
	font-size: 0.9em;
}

.newpost {
	padding: 3px;
	width: 450px;
	position: absolute;
	z-index: 1;
	font-size: 0.7em;
}

.newpost-poster-pic {
	position: absolute;
	float: left;
	max-width: 30px;
	max-height: 30px;
	margin: 2px 5px 2px 2px;
}
.newpost-poster {
	margin: 7px 0 0 35px;
}
.newpost-action {
	margin-top: 3px;
	height: 110px;
}
.newpost-title-label {
	display: inline-block;
	width: 44px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}
.newpost-title {
	width: 390px;;
}
.newpost-text {
	height: 55px;
	width: 444px;
}
.newpost-submit {
	float: right;
}

.feed-container {
	position: relative;
	min-height: 300px;
}

.feed-posts-container {
	margin: 10px 0 0 0;
}

.catalog-container {
	position: relative;	
	min-height: 300px;
}

.catalog-categories {
	font-size: 1.2em;
	list-style-type: none;
}

.map {
	width: 100%;
	height: 400px;	
}