ul {
	list-style-type: none;
	padding: 0;
}

.trade-item {
	float: left;
	width: 180px;
	padding: 5px;
	margin: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.trade-item:not(.ui-state-highlight) {
	border: 1px solid transparent;
}
.trade-item.trade-item-bytag {
	width: 280px;	
}

.trade-img {
	float: left;
	max-width: 200px;
	max-height: 200px;
}
.trade-img.thumbnail {
	max-width: 60px;
	max-height: 60px;
}
.trade-item a {
	text-decoration: none;
}

.trade-item-details {
	padding: 0;
	margin: 0 0 0 65px;
}

.btn-newitem {
	width: 100%;
}
.newitem-form-errors {
	margin-left: 100px;
	text-align: center;
	color: red;
}
.newitem-formfields {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 110px;
}
.newitem-formfields li:nth-child(even):not(.li-sellmode) {
	margin: 0 0 5px 0;
}
.newitem-formfields input, .newitem-formfields textarea {
	width: 100%;
	resize: none;
}
.newitem-img-container {
	float: left;
	width: 90px;
	height: 90px;
	text-align: center;
	cursor: pointer;
	position: relative;
	padding: 5px;
}
.newitem-img-container.hungry {
	border-color: green !important;
}
.newitem-img-container .newitem-img-message {
	margin-top: 25%;
}
.newitem-img-container.noimage {
	border: 2px dashed lightskyblue;
}
.li-sellmode.auction, .li-sellmode.fixedprice {
	margin-right: 5px;
	display:inline-block;
	width: 30%;
}

.buyandsell-search {
	margin-top: 5px;
	white-space: nowrap;
}
.ipt-search {
	width: 62%;
}
.btn-search {
	width: 35%;
}
.buyandsell-search-results-container {
	position: relative;
}