.toptens {
	padding: 5px;
}

.toptens ul, .toptens-search-results {
	list-style-type: none;
	padding: 0;
	margin: 5px 0 5px 0;
}

.toptens-search-results {
	padding-left: 10px;
}

.toptens-search-more {
	font-size: 0.8em;
}

.topten {
	min-height: 35px;
	margin-bottom: 2px;
}

.topten-list-img {
	float: left;
	width: 35px;
	height: 35px;
	margin: 0 5px 0 0;
}

dd.saved:not(.ui-state-highlight) {
	border: 1px solid transparent;
}