.navbar {
	height: 35px;
	margin-bottom: 10px;
}
.user-container {
	display: inline-block;
	vertical-align: top;
}
.user-image {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	margin: 7px 0 0 10px;
}
.user-username {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.user-username a {
	text-decoration: none;
}

.menu-container {
	display: inline-block;
	height: 90%;
	width: 16px;
	padding: 1px;
	font-size: 0.8em;
}
/*
.menu-container:hover {
	background-color: lightgrey;
}
.menu-container.active {
	background-color: lightgrey;
	padding: 0;
	border-right: 1px solid white;
	border-top: 1px solid white;
	border-left: 1px solid white;
}
*/

.menu-container:not(.ui-state-active):not(.ui-state-highlight) {
	border: 1px solid transparent;
}
.menu-container.ui-state-active {
	border-bottom: 1px solid transparent;
}

.triangle-container {
	cursor: pointer;
}
.ui-icon-triangle-1-s {
	margin-top: 3px;
}

.user-menu-partialborder {
	width: 144px;
	display: none;
	margin-left: -145px;
	margin-top: -1px;
}
.user-menu-partialborder.ui-state-active {
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.user-menu {
	width: 160px;
	margin-left: -144px;
	display: none;
	color: black;
	padding: 10px 0;
	position: absolute;
	z-index: 2;
}
.user-menu.ui-state-active {
	border-top: 1px solid transparent;
}

.user-menu-item {
	padding: 1px 0 1px 10px;
	cursor: pointer;
}
.user-menu-item.ui-state-highlight {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.user-menu-item:not(.ui-state-highlight) {
	border: 1px solid transparent;
}
.user-menu-item > a {
	text-decoration: none;
}

.user-menu-divider {
    background: none repeat scroll 0 0 grey;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 6px 20px;
}

.search-padder {
	display: inline-block;
	padding: 3px 0 2px 0;
	vertical-align: top;
}

.search-container {
	vertical-align: middle;
    position: relative;
    margin-left: 30px;
    background-color: white;
}

.search-container input[type="text"] {
	width: 315px;
	border: 0 none;
    margin: 0 0 0 5px;
    outline: medium none;
}

.search-container button {
	width: 22px;
}

.search-container button .ui-button-icon-primary {
	left: 0.2em;
}

.autocomplete-results,
.topten-autocomplete-results {
	position: absolute;
	width: 400px;
	max-width: 400px;
	min-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 1;
	padding: 5px;	
}

.autocomplete-results a {
	text-decoration: none;	
}

.autocomplete-container:not(.ui-state-highlight),
.summary-container:not(.ui-state-highlight) {
	border: 1px solid transparent;
}
.autocomplete-container,
.summary-container {
	min-height: 60px;
	padding: 2px 0 0 0;
}

.autocomplete-img,
.summary-img {
	max-width: 40px;
	max-height: 40px;
	float: left;
	margin: 5px;	
}

.autocomplete-title {
	white-space: nowrap;
	font-weight: bold;
}

.autocomplete-description {
	font-weight: 100;
}

.autocomplete-title,
.autocomplete-description {
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.autocomplete-allresults {
	margin: 1px 0 0 0;
	font-weight: bolder; 
	padding-left: 2px; 
	border: 1px dotted grey;
}

.navigation {
	border-top: 0 !important;
	border-bottom: 0 !important;
}
.navigation-container {
	height: 33px;
}
.navigation {
	display: inline-block;
	padding: 7px 10px 5px 10px;
	cursor: pointer;
	height: 23px;
	font-size: 0.9em;
	vertical-align: middle;
}
.navigation:not(.ui-state-highlight):not(.ui-state-active) {
	border: 1px solid transparent;
}
.navigation > a {
	text-decoration: none;
}