.footer {
	min-height: 100px;
	text-align: center;
	padding-bottom: 20px;
}
.footer-container {
	margin: 140px 0 0 0;
	vertical-align: bottom;
	text-align: left;
}
.footer-container select {
	border: 1px solid black;
}